* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 300px;
    width: 300px;
    background-color: crimson;
    border: 2px solid black;
    border-radius: 50%;
    transition: 1s;
}

div:hover {
    height: 50vh;
    width: 50vw;
    background-color: aqua;
    border-radius: 0%;
}